<div class="header">
    <h3 class="title">Statistics</h3>
    <div class="search">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search something ...">
    </div>
    <div class="actions">
        <span class="action highlighted">Upgrade</span>
        <span class="action">
            <span class="material-symbols-outlined">notifications</span>
        </span>
    </div>
</div>

<div class="cards">
    <div class="card highlighted"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
</div>