<div class="header">
    <h3 class="title">Statistics</h3>
    <div class="search">
        <span class="material-symbols-outlined">search</span>
        <input type="text" placeholder="Search something ...">
    </div>
    <div class="actions">
        <span class="action highlighted">Upgrade</span>
        <span class="action">
            <span class="material-symbols-outlined">notifications</span>
        </span>
    </div>
</div>

<div class="cards">
    <div class="card highlighted"><img src="assets/card1.png" alt="card" /></div>
    <div class="card"><img src="assets/card2.png" alt="card" /></div>
    <div class="card"><img src="assets/card3.png" alt="card" /></div>
    <div class="card"><img src="assets/card4.png" alt="card" /></div>
    <div class="card"></div>
</div>